.well.well-small
  .page-header
    .col-lg-1
    %h1
      Support Issue Tracker
      %small Edit Ticket Page
.container
  .col-lg-1
  = render 'form'
  %br/
.container
  .col-lg-2
    = link_to 'Show', @ticket
    |
    \#{link_to 'Back', tickets_path}
