.well.well-small
  .page-header
    .col-lg-1
    %h1
      Support Issue Tracker
      %small Welcome Page
.container
  .col-lg-12
    / Body content
    Welcome to the home page of the Support Office, which is situated within  Services Centre.
