.well.well-small
  .page-header
    .col-lg-1
    %h1
      Support Issue Tracker
      %small New Ticket Page
.container
  .col-lg-1
  .col-lg-11
    = render 'form'
    = link_to 'Back', tickets_path
